.venv/
data/
__pycache__/
models/__pycache__/
trained_model_*.pt
# Ignore everything in the state_dicts folder
state_dicts/*
models/*

# Except for resnet50.pt
!state_dicts/resnet50_cifar10.pt
!state_dicts/resnet50_imagenet1k.pt

slurm-*
stdout*
stderr*

logs/
submodlib/
