ipykernel
scikit-learn
torch 
torchvision 
torchaudio
pandas
matplotlib
multiprocess
scipy
PuLP
matplotlib
scikit-image
tqdm
ipywidgets
jupyter
loralib
transformers
datasets
wandb
comet_ml
timm
peft
avalanche-lib

#other packages to be installed manually:
#pip install git+https://github.com/fra31/auto-attack
#logging
#pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ submodlib==1.1.5
# pip install torchdatasets
# kaggle
#robustness
#multiprocessing
#os-sys
#functools
# pickle5
#cuda-python
# pip3 install imagecorruptions