ipykernel
scikit-learn
torch 
torchvision 
torchaudio
pandas
matplotlib
#cuda-python
multiprocess
#multiprocessing
#os-sys
#functools
# pickle5
scipy
PuLP
matplotlib
scikit-image
tqdm
ipywidgets
jupyter
loralib

#robustness
transformers
datasets