torch==2.5.1
torchvision==0.20.1
ray==2.40.0
hydra-core==1.3.2

ipykernel
scikit-learn
pandas
matplotlib
multiprocess
scipy
PuLP
matplotlib
scikit-image
tqdm
ipywidgets
jupyter
loralib
transformers
datasets

timm
peft
avalanche-lib

kaggle
multiprocessing
pickle5
torchdatasets
os-sys
functools
pickle5



wandb
comet_ml


git+https://github.com/fra31/auto-attack

